<a href="{{ routes.root_url }}" class="theme-footer-logo" style="max-width: {{ settings.logo_footer_max_width }}px;">
  {%- if settings.logo_footer != blank -%}
    {{
      settings.logo_footer.src
      | image_url: width: 500
      | image_tag:
        loading: 'lazy',
        width: settings.logo_footer.width,
        height: settings.logo_footer.height,
        class: 'lazyload',
        loading: 'lazy',
        alt: shop.name
      | escape
    }}
  {%- else -%}
    <span class="oliya-logo-text footer-logo-text">OLYIA</span>
  {%- endif -%}
</a>
<style>
  a.theme-footer-logo {
    display: inline-block;
    word-break: break-word;
    text-decoration: none;
  }
  a.theme-footer-logo img {
    max-width: {{ settings.logo_footer_max_width }}px;
    display: block;
  }
  .footer-logo-text {
    color: #111111;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 30px;
  }
</style>
