<section class="product-breadcrumb">
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <div class="row">
      <div class="col">
        <ul class="breadcrumb-list list-unstyled">
          <li class="breadcrumb-item">
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
          </li>
          <li class="breadcrumb-item">
            <span>{{ product.title }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
.product-breadcrumb {
  padding: 30px 0;
}
.product-breadcrumb ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-breadcrumb ul li {
  display: flex;
  align-items: center;
}
.product-breadcrumb .breadcrumb-item+.breadcrumb-item {
  padding: 0;
}
.product-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: "/";
  color: var(--font-color-header);
  font-size: 12px;
  line-height: 1;
  float: none;
  padding: 0 10px;
}
</style>