<button class="wishlist wishlist-custom-action form-btn" data-handle="{{ product.handle }}" aria-label="{{ product.handle }}">
    <i class="ri-heart-line"></i>
    <span class="wishlist-text">{{ settings.wishlist_title }}</span>
</button>