<div class="password-header">
  {% render 'company-logo' %}
  <span class="password-coming-soon">{{ section.settings.section_heading }}</span>
</div>
{% schema %}
{
  "name": "Password header",
  "settings": [
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
    "default": "heading"
    }
  ]
}
{% endschema %}
<style>
  .password-header a.theme-header-logo img,
  .password-header a.theme-header-logo {
    margin: 0 auto;
  }
  .password-header span.password-coming-soon{
    display: block;
    color: var(--font-color-body);
    font-size: 30px;
    margin-top: 19px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
  }
  @media (max-width: 479px) {
    .password-header span.password-coming-soon{
      font-size: 20px;
      margin-top: 21px;
      letter-spacing: 3px;
    }
  }
</style>
