.main-content-wrap .pro-grli-wrapper.left-side-wrap,
.main-content-wrap .pro-grli-wrapper.right-side-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -30px -30px 0px;
}
.main-content-wrap .pro-grli-wrapper.left-side-wrap {
  flex-direction: row-reverse;
}
.main-content-wrap .pro-grli-wrapper.right-side-wrap {
  flex-direction: row;
}
.main-content-wrap .pro-grli-wrapper.left-side-wrap .pro-grli-wrap,
.main-content-wrap .pro-grli-wrapper.right-side-wrap .pro-grli-wrap {
  margin-top: 30px;
  padding: 0px 30px;
}
.main-content-wrap .pro-grli-wrapper.left-side-wrap .pro-grli-wrap.product-grid,
.main-content-wrap
  .pro-grli-wrapper.right-side-wrap
  .pro-grli-wrap.product-grid {
  width: 75%;
}
.main-content-wrap
  .pro-grli-wrapper.left-side-wrap
  .pro-grli-wrap.product-sidebar,
.main-content-wrap
  .pro-grli-wrapper.right-side-wrap
  .pro-grli-wrap.product-sidebar {
  width: 25%;
}
@media (max-width: 1499px) {
  .main-content-wrap .pro-grli-wrapper.left-side-wrap,
  .main-content-wrap .pro-grli-wrapper.right-side-wrap {
    margin: -30px -15px 0px;
  }
  .main-content-wrap .pro-grli-wrapper.left-side-wrap .pro-grli-wrap,
  .main-content-wrap .pro-grli-wrapper.right-side-wrap .pro-grli-wrap {
    padding: 0px 15px;
  }
}
/* @media (max-width: 1399px) {
  .main-content-wrap .pro-grli-wrapper.left-side-wrap .pro-grli-wrap.product-grid,
  .main-content-wrap
    .pro-grli-wrapper.right-side-wrap
    .pro-grli-wrap.product-grid {
    width: 80%;
  }
  .main-content-wrap
    .pro-grli-wrapper.left-side-wrap
    .pro-grli-wrap.product-sidebar,
  .main-content-wrap
    .pro-grli-wrapper.right-side-wrap
    .pro-grli-wrap.product-sidebar {
    width: 20%;
  }
} */
@media (max-width: 1199px) {
  .main-content-wrap .pro-grli-wrapper.left-side-wrap,
  .main-content-wrap .pro-grli-wrapper.right-side-wrap {
    margin: 0px;
  }
  .main-content-wrap .pro-grli-wrapper.left-side-wrap .pro-grli-wrap,
  .main-content-wrap .pro-grli-wrapper.right-side-wrap .pro-grli-wrap {
    margin-top: 0px;
    padding: 0px;
  }
  .main-content-wrap
    .pro-grli-wrapper.left-side-wrap
    .pro-grli-wrap.product-grid,
  .main-content-wrap
    .pro-grli-wrapper.right-side-wrap
    .pro-grli-wrap.product-grid {
    width: 100%;
  }
  .main-content-wrap
    .pro-grli-wrapper.left-side-wrap
    .pro-grli-wrap.product-sidebar,
  .main-content-wrap
    .pro-grli-wrapper.right-side-wrap
    .pro-grli-wrap.product-sidebar {
    width: unset;
  }
}

/* sidebar banner css */
.sidebar-banner {
  margin-top: 30px;
}
.sidebar-banner.sidebar-without-banner {
  display: none;
}
.sidebar-banner a.sidebar-img {
  position: relative;
}
.sidebar-banner a.sidebar-img span {
  display: block;
  overflow: hidden;
  border-radius: var(--sti-border-radius);
}
.sidebar-banner a.sidebar-img span svg {
  width: 100%;
}
@media (max-width: 1199px) {
  .sidebar-banner {
    display: none;
  }
}

.shop-sidebar.sidebar-pro {
  margin-top: 30px;
  padding: 30px 0 0;
  border-top: 1px solid var(--theme-border-color);
}
.shop-sidebar.sidebar-pro.sidebar-without {
  display: none;
}
.shop-sidebar.sidebar-pro h6.title {
  font-size: var(--subtitle-font-size-body);
  font-weight: var(--subtitle-custom-font-weight-body);
  position: relative;
  line-height: 1;
}
.shop-sidebar.sidebar-pro .spe-slider {
  margin-top: 30px;
}
.shop-sidebar.sidebar-pro .spe-slider .product-action a .title {
  font-size: var(--font-size-body);
  line-height: normal;
}
@media (max-width: 1199px) {
  .shop-sidebar.sidebar-pro {
    display: none;
  }
}

/* collection info title css */
.collection-img-wrap h1 {
  font-size: var(--subtitle-font-size-body);
  font-weight: var(--subtitle-custom-font-weight-body);
  position: relative;
  line-height: 1;
}

/* collection-info css */
.collection-img-wrap .collection-info {
  margin-top: 30px;
}
.collection-img-wrap .collection-info .collection-description {
  margin-top: 30px;
}
.collection-img-wrap .collection-info .collection-image img {
  width: 100%;
  border-radius: var(--sti-border-radius);
}

/* empty product css */
.empty-product {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.empty-product .product-desc {
  margin-top: 11px;
}
.empty-product .product-desc p a {
  color: var(--font-color-header);
  border-bottom: 1px solid;
  opacity: 0.6;
  -webkit-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s;
}
.empty-product .product-desc p a:hover {
  opacity: 1;
}
