.header1 {
    position: relative;
}
.header1 .header-area .header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header1 .header-area .header-main.logo-left .header-element.logo {
    width: 16.66%;
}
.header1 .header-area .header-main.logo-center .header-element.logo {
    width: 33.33%;
    text-align: center;
}
.header1 .header-area .header-main.logo-left .header-element.megamenu-content {
    width: 50%;
}
.header1 .header-area .header-main.logo-center .header-element.megamenu-content {
    width: 33.33%;
}
.header1 .header-area .header-main .header-element.right-block-box {
    width: 33.33%;
}
.header1 .header-area .header-main.logo-center .header-element.logo a {
    margin: 0 auto;
}
.header1 .header-area .header-main .header-element.toggle-content {
    display: none;
}
.header1 .header-area .header-main.logo-left .header-element.logo {
    order: -1;
}
@media (max-width: 1199px) {
    .header1 .header-area .header-main {
        padding: 15px 0;
    }
    .header1 .header-area .header-main.logo-center .header-element.right-block-box,
    .header1 .header-area .header-main.logo-left .header-element.right-block-box,
    .header1 .header-area .header-main .header-element.toggle-content,
    .header1 .header-area .header-main.logo-left .header-element.logo,
    .header1 .header-area .header-main.logo-center .header-element.logo {
        width: 33.33%;
    }
    .header1 .header-area .header-element.megamenu-content {
        display: none;
    }
    .header1 .header-area .header-element.logo a {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header1 .header-area .header-main.logo-left .header-element.logo {
        order: 0;
    }
    .header1 .header-area .header-main .header-element.toggle-content {
        display: flex;
        color: var(--font-color-header);
        font-size: 18px;
        line-height: 1;
    }
    .header1 .header-area .header-main .header-element.toggle-content button {
        font-size: 18px;
    }
}

/* right-block css */
.header1 .right-block-box {
    display: flex;
    justify-content: flex-end;
}
.header1 .right-block-box ul.shop-element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header1 .right-block-box ul.shop-element li.side-wrap {
    display: block;
    position: relative;
    line-height: 1;
    margin-left: 35px;
}
.header1 .right-block-box ul.shop-element li.side-wrap a span.title {
    font-size: 16px;
}
.header1 .is-sticky .right-block-box ul.shop-element li.side-wrap {
    display: block;
}
.header1 .right-block-box ul.shop-element li.side-wrap.search-bar-wrap {
    display: none;
}
.header1 .is-sticky .right-block-box ul.shop-element li.side-wrap.search-bar-wrap {
    display: none;
}
.header1 .right-block-box ul.shop-element li.side-wrap.search-bar-wrap .search-rap a.search-crap {
    display: none;
}
.header1 .right-block-box ul.shop-element li.side-wrap.track-wrap {
    display: block;
}
.header1 .right-block-box ul.shop-element li.side-wrap.toggle-wrap {
    display: none;
}
.header1 .right-block-box .offer-link {
    display: none;
}
.header1 .right-block-box .offer-link a {
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
}
.header1 .right-block-box .offer-link a .icon {
    font-size: 24px;
}
@media (max-width: 1199px) {
    .header1 .right-block-box ul.shop-element li.side-wrap.search-bar-wrap,
    .header1 .is-sticky .right-block-box ul.shop-element li.side-wrap.search-bar-wrap {
        display: none;
    }
    .header1 .right-block-box ul.shop-element li.side-wrap.track-wrap {
        display: none;
    }
    .header1 .right-block-box ul.shop-element li.side-wrap.toggle-wrap {
        display: block;
        line-height: 1;
    }
    .header1 .right-block-box ul.shop-element li.side-wrap.toggle-wrap button {
        font-size: 17px;
        line-height: 1;
    }
    .header1 .right-block-box .offer-link {
        display: none;
    }
}
@media (max-width: 991px) {
    .header1 .right-block-box ul.shop-element li.side-wrap {
        margin-left: 15px;
    }
}
@media (max-width: 600px) {
    .header1 .right-block-box ul.shop-element li.side-wrap {
        display: none;
    }
    .header1 .right-block-box ul.shop-element li.side-wrap.cart-wrap {
        display: block;
    }
}